.navbar {
    font-size: 28px;
    background-color: gray brown;

}

.about {
    background-color: rgb(58, 203, 58);
    color: white size 20px;
    ;


}

.btn {
    background-color: rgb(10, 144, 101);
    font-size: larger;

}
.h2{ font-size: 28px;

}
p{font-size: 28px;

}